.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex: 1;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

:root {
  --swiper-theme-color: #FFFFFF;
  --swiper-pagination-bullet-inactive-color: #B2B6FF;
  }

.swiper-pagination {
  position: static;
  padding: 20px 0;
  order: 2;
}

.swiper-slide {
  order: 1;
}

.swiper-slide-prev {
  transform: scale(0.77);
}

.swiper-slide-next {
  transform: scale(0.77);
}
