@font-face {
  font-family: 'gotham-book';
  src: url('../fonts/Gotham-Book-Regular.otf');
}

@font-face {
  font-family: 'Gotham-ultra';
  src: url('../fonts/Gotham-Ultra.otf');
}

@font-face {
  font-family: 'Myriad-pro';
  src: url('../fonts/Myriad-Pro-Regular.ttf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black-Regular.ttf');
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Regular.otf');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/roboto-black.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto-regular_[allfont.es].ttf');
}